.dropdownToggle {
    font-size: larger;
    border: 0;
    background-color: green;
    cursor: pointer;
    margin: auto;
    display: flex;
    color: white;
}

.dropdownMenu {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdownItem {
    font-size: larger;
    border: 0;
    background-color: white;
    cursor: pointer;
    margin: auto;
    display: flex;
}

.dropdownItem:hover {
    background-color: lightgray;
}